__pycache__/
*.py[cod]
*.pyo
*.pyd
.vscode

.venv/
env/
ENV/
venv/

.env
*.env

*.dbc
*.DBC
*.dbf
*.DBF
*.log
*.parquet
*.xls
*.xlsx
*.json

data/landing/
data/processed/
data/kaggle_publish_cache/
data/.duckdb_temp/
debug/
.kaggle